table{
    margin: auto;
}
h1{
    margin-bottom: 10px;
    text-align: center;
    color: rgb(60, 63, 240);
    font-size: 40px;
    font-family: 'bold', serif;
}
input[type="button"]{
    background-color: rgb(189, 210, 238);
    color: black;
    border: 3px solid black;
    padding: 19px;
    width: 100%;
}
input[type="text"] {
    background-color: white;
    border: solid black 3px;
    width: 100%;
    padding: 19px;
}
input[type="button"]:hover{
    background-color: yellow;
    color: black;
    border: solid black 3px;
    width: 100%;
}